<div data-role="header">
  <h2><%= t('blood_bag_attributes.helpers.label.listing') %></h2>
</div>
<div data-role="content">
  <div class="ui-body ui-body-a">
    <%= render :partial => 'blood_bag', locals: { blood_bag: blood_bag } %>
  </div>
  <div id="blood_bag_attributes_container">
    <h2>Parameters</h2>
    <%= form_for :blood_bag_attributes, :url => update_all_blood_bag_blood_bag_attributes_path, :html => { :method => :put, :multipart => true },  data: { ajax: false} do %>
      <%= hidden_field_tag :before_blood_bag_attributes, jsonify(@blood_bag_attributes) %>
      <% grouper = BloodBagAttributesGrouper.new(blood_bag_attributes) %>
      <div data-role="tabs">
        <%= render partial: 'blood_bag_attributes/tabs_inset_listview/group_listview', locals: { grouper: grouper} %>
        <% grouper.groups.each do |group| %>
          <%= render partial: 'blood_bag_attributes/tabs_inset_listview/edit_blood_bag_attribute_group', locals:  { group: group} %>
        <% end %>
      </div>
      <div class="actions">
        <%= submit_tag t('blood_bag_attributes.helpers.label.save_parameters') %>
      </div>
    <% end %>
  </div>
  <div data-role="navbar" data-iconpos="left">
    <ul>
      <li>
        <%= link_to blood_bag_blood_bag_attributes_path, data: { icon: 'back'} do %>
            <%= t('application.helpers.label.back') %>
        <% end %>
      </li>
    </ul>
  </div>
</div>