<%= content_tag 'fieldset', data: { role: :collapsible, theme: get_status_theme(blood_selection.bsel_Status) } do %>
    <legend><%= blood_selection.bsel_ProductMnemonic %> <%= blood_selection.bsel_StatusString %></legend>
    <p><%= blood_selection.bsel_BloodGroupString %></p>
    <p><%= blood_selection.bsel_RhesusString %></p>
    <p><%= blood_selection.bsel_PositiveScreening %></p>
<% end %>