<%= content_tag "fieldset", data: { role: :collapsible } do %>
    <legend><%= blood_selection.bsel_ProductMnemonic %> <%= blood_selection.bsel_BloodBagStatusString %></legend>
    <p><%= blood_selection.bsel_BloodGroupString %></p>
    <p><%= blood_selection.bsel_RhesusString %></p>
    <p><%= blood_selection.bsel_PositiveScreening %></p>
<% end %>