<% if field %>
    <p>
      <%= label_tag tag, label %>
      <% if class_attribute %>
        <%= content_tag 'div', class: class_attribute do %>
          <%= field %>
        <% end %>
      <% else %>
          <%= content_tag 'div' do %>
              <%= field %>
          <% end %>
      <% end %>
    </p>
<% end %>
