<h3><%= @patient.externalize %></h3>
<%= render :partial => 'person_medical_record', locals: { patient: @patient } %>

<h1><%= t('blood_selections.helpers.label.listing') %></h1>

<%= content_tag 'div', id: 'blood_selections_grid', data: {
        url: "#{RestHelper.rest_root_url}/patients/#{@patient.prsn_Object}/bloodselections",
        locale: I18n.locale,
        authorization: @http_basic_authorization,
        labels: {
                product: t('blood_selections.helpers.label.product'),
                status: t('blood_selections.helpers.label.status'),
                objectTime: t('blood_selections.helpers.label.object_time'),
                bloodGroup: t('blood_selections.helpers.label.blood_group'),
                rhesus: t('blood_selections.helpers.label.rhesus'),
                attributes: t('blood_selections.helpers.label.attributes')

        }
} do %>
<% end %>
<%= link_to patients_path, class: :anchorButton do %>
    <%= t('application.helpers.label.back') %>
<% end %>

<script>
    $(document).ready(function () {
        var crudServiceBaseUrl = $('#blood_selections_grid').data('url');
        var locale = $('#blood_selections_grid').data('locale');
        var httpBasicAuthorization = $('#blood_selections_grid').data('authorization');
        var dataSource = createBloodSelectionKendoDataSource(crudServiceBaseUrl, httpBasicAuthorization);
        var productLabel = $('#blood_selections_grid').data('labels').product;
        var statusLabel = $('#blood_selections_grid').data('labels').status;
        var objectTimeLabel = $('#blood_selections_grid').data('labels').objectTime;
        var bloodGroupLabel = $('#blood_selections_grid').data('labels').bloodGroup;
        var rhesusLabel = $('#blood_selections_grid').data('labels').rhesus;
        var attributesLabel = $('#blood_selections_grid').data('labels').attributes;

//        alert("url = " + crudServiceBaseUrl);

        kendo.culture(locale);
        $("#blood_selections_grid").kendoGrid({
            dataSource: dataSource,
            navigatable: true,
            pageable: true,
            sortable: true,
            filterable: true,
            columns: [
                { field: "bsel_ProductMnemonic", title: productLabel, width: "150px" },
                { field: "bsel_StatusString", title: statusLabel, width: "150px" },
//                { field: "bsel_OrderLowestObjectTime", title: objectTimeLabel, format: "{0:dd/MM/yyyy}", width: "100px"},
                { field: "bsel_BloodGroupString", title: bloodGroupLabel, width: "150px"},
                { field: "bsel_RhesusString", title: rhesusLabel, width: "150px"},
                { command: [
                    {
                        name: attributesLabel,
                        click: function(e) {
                            // e.target is the DOM element representing the button
                            var tr = $(e.target).closest("tr"); // get the current table row (tr)
                            // get the data bound to the current table row
                            var data = this.dataItem(tr);
                            console.log("Details for: " + data.bsel_Id);
                            window.location = "http://192.168.1.38:3600/bloodbags/" + data.bsel_Id + "/attributes";
                        }
                    }]
                }
            ]
        });
    });
</script>

