<div data-role="header">
    <h2><%= t('blood_selections.helpers.label.listing') %></h2>
</div>
<div data-role="content">
  <div class="ui-bar uii-bar-a">
    <h3><%= @patient.externalize %></h3>
  </div>
  <div class="ui-body ui-body-a">
    <%= render :partial => 'person_medical_record', locals: { patient: @patient } %>
  </div>
  <div id="blood_selections_container">
    <ul data-role="listview" data-inset="true">
      <% @blood_selections.each do |blood_selection| %>
          <li>
            <%= render :partial => 'blood_selection', locals: { blood_selection: blood_selection, patient_id: @@patient.prsn_Id } %>
          </li>
      <% end %>
    </ul>
  </div>
  <div data-role="navbar">
    <ul>
      <li>
        <%= link_to patients_path, class: :anchorButton do %>
            <%= image_tag('black/back.png', class: 'button_image_text') %>
            <%= t('application.helpers.label.back') %>
        <% end %>
      </li>
    </ul>
  </div>
</div>