<!DOCTYPE html>
<html>
    <head>
      <title>
        <% if content_for?(:title) %>
            <%= yield(:title) %>
        <% else %>
            CyberTrack
        <% end %>
      </title>
      <!--To limit the size on the iphone set the content -->
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <%= stylesheet_link_tag    "mobile/application", media: "all" %>
      <%= javascript_include_tag "mobile/application" %>
      <%= csrf_meta_tags %>
    </head>

    <body>
        <div id="mobile_page" data-role="page">
          <%= render "shared/header" %>

          <div data-role="content" data-theme="a">
            <%= yield %>
          </div>

        </div><!-- /page -->
    </body>
</html>
