<div data-role="header">
  <h2><%= t('blood_bag_attributes.helpers.label.listing') %></h2>
</div>
<div data-role="content">
  <div class="ui-body ui-body-a">
    <%= render :partial => 'blood_bag', locals: { blood_bag: @blood_bag } %>
  </div>
  <div id="blood_bag_attributes_container">
    <ul data-role="listview" data-inset="true">
      <% grouper = BloodBagAttributesGrouper.new(@blood_bag_attributes) %>
      <% grouper.groups.each do |group| %>
          <li>
            <%= render :partial => 'blood_bag_attribute_group', locals: { group: group, attributes: grouper.blood_bag_attributes(group[:key]) } %>
          </li>
      <% end %>
    </ul>
  </div>
  <div data-role="navbar">
    <ul>
      <li>
        <%= link_to blood_bag_path @blood_bag, class: :anchorButton do %>
            <%= image_tag('black/back.png', class: 'button_image_text') %>
            <%= t('application.helpers.label.back') %>
        <% end %>
      </li>
      <li>
        <%= link_to blood_bag_path @blood_bag, class: :anchorButton do %>
            <%= image_tag('black/save.png', class: 'button_image_text') %>
            <%= t('application.helpers.label.save') %>
        <% end %>
      </li>
    </ul>
  </div>
</div>